@{
    Layout = "_LayoutError";
    ViewData["Title"] = "404 - Page not found";
}

This is like searching for a person more powerful than ZEUS.
<br /><br />
    <img src="~/img/errorpages/404_nicolas.jpg" alt="ZEUS" title="Quickly strike the image" asp-append-version="true" />
<br /><br />
It doesn't exist.
<br /><br />
You can always try <a href="/">navigating back to home</a>.
