@{
    Layout = "_LayoutError";
    ViewData["Title"] = "417 - Expectation Failed";
}

You've unfortunately failed expectations of Aphrodite</a>. Poor you.
<br /><br />
    <img src="~/img/errorpages/417_pavlenex.png" alt="Aphrodite avatar" title="Aphrodite fighting the system, while building better systems" asp-append-version="true" />
<br /><br />
Check your request `Except` header and do better.
