@{
    Layout = "_LayoutError";
    ViewData["Title"] = "429 - Too Many Requests";
}

Please send requests slower. Or face the wrath of Ares</a>.
<br /><br />
    <img src="~/img/errorpages/429_rockstardev.jpg" alt="Ares is angry because you caused 429" title="Move away that cursor" asp-append-version="true" />
<br /><br />
You sure you want to risk that?
<br /><br />
Slowly <a href="/">navigate back to home</a>.
