@{
    Layout = "_LayoutError";
    ViewData["Title"] = "500 - Internal Server Error";
}

Whoops, something really went wrong! Athena is so sorry.
<br /><br />
    <img src="~/img/errorpages/500_mrkukks.jpg" alt="Mr Kukks puppy eyes" title="The most innocent look you'll ever see" asp-append-version="true" />
<br /><br />
Consider submitting issue to ZEUSPay Support
<br /><br />
<a href="/">Navigate back to home</a>.
